.menu-itens {
    border: none;
    background-color: transparent;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 15px;
}

.menu-itens:hover {
    background-color: #F5F5F5;
}

.user-login {
    font-size: 15px;
}
