.card {
    max-width: 800px;
    height: 80vh;
    background-color: #FFFFFF;
    margin: 70px auto;
    display: flex;
    align-items: center;
    font-family: inherit;
    border-top: 5px solid #F47D02;
}

.background {
    background-color: #EEF5FA;
}

.subtitle-login {
    font-size: 15px;
    color: #8d8d8d;
}

.button-login {
    width: 67%;
    margin-top: 15px;
    height: 42px;
    font-size: 16px;
}

.button-login:hover {
    background-color: #EF7124;
}

.button-login {
    position: relative;
}

.spinner {
    position: absolute;
    top: -55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 3px solid #ffffff;
    border-top-color: #000000;
    border-radius: 50%;
    animation: spinner 0.8s linear infinite;
    display: none;
}

@keyframes spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.button-login[disabled] .spinner {
    display: inline-block;
}
