<form [formGroup]="form">
    <div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="d-flex align-items-center justify-content-between cursor-pointer">
        <h6>{{ project ? 'Edit Project ' + '#' + project.id : 'New Project'}}</h6>
        <i (click)="closeDialog()" class="mdi mdi-close mb-2"></i>
    </div>
    <mat-divider class="mt-2"></mat-divider>
    <mat-progress-bar style="height: 3px;" color="accent" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-dialog-content class="mat-typography mt-3">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Project Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-md-6">
                <label class="form-label">Lead</label>
                <ng-select [items]="leads"
                           bindLabel="name"
                           bindValue="id"
                           [clearable]="true"
                           type="select"
                           class="style-ng-select form-select"
                           formControlName="lead">
                </ng-select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <label class="form-label">Price (R$)</label>
                <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" type="text" class="form-control" formControlName="value" placeholder="0,00">
            </div>
            <div class="col-md-4">
                <label class="form-label">Deadline</label>
                <input type="date" class="form-control" formControlName="deadline" #inputDate>
            </div>
            <div class="col-md-4">
                <label class="form-label">Status</label>
                <ng-select bindLabel="name"
                           bindValue="name"
                           [clearable]="true"
                           type="select"
                           class="style-ng-select form-select"
                           formControlName="status">
                    <ng-option [value]="1">In Progress</ng-option>
                    <ng-option [value]="2">Finished</ng-option>
                    <ng-option [value]="3">Closed</ng-option>
                    <ng-option [value]="4">Proposal</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 mb-2">
                <label class="form-label">Project Description</label>
                <textarea rows="3" type="text" class="form-control" formControlName="notes"></textarea>
            </div>
        </div>
    </mat-dialog-content>
    <mat-divider class="mt-4"></mat-divider>
    <mat-dialog-actions class="cursor-pointer" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle align="end">
        <button mat-button color="warn" (click)="save(true)" [disabled]="!canSave()" cdkFocusInitial>Save and Close</button>
    </mat-dialog-actions>
</form>
